{
  "singleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "always"
}
