@import "../global.scss";

:local .tableHeader {
    padding: 15px;
    margin: 15px 15px 0;
    background: $mainWhiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .operationList {
        &>.item {
            margin: 0 10px;
        }
    }

    .search {
        width: 450px;
        font-size: 14px;
        color: $mainWhiteColor;
    }
}

:local .table {
    background: $mainWhiteColor;
    padding: 15px;
    margin: 0 15px 15px;

    .avatarBox {
        width: 60px;
        cursor: pointer;

        .avatar {
            width: 100%;
        }
    }

    .btn {
        cursor: pointer;
        color: $mainSelectBgColor;
    }

    .avatar {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
}
