@import '../../global.scss';

:local .nav {
    font-size: 14px;
    height: 55px;
    text-align: left;
    line-height: 55px !important;
    border-bottom: 1px solid $mainBoxShadowColor;
    margin-bottom: 15px;
    background: $mainWhiteColor;
    padding: 0 30px !important;
}
